{% extends "base.html" %}

{% block contents %}
<div class="home-deco">
    <div class ="row mt-5">
        <div class="col-12">
            <div class="form-group">
                <label for="title">제목</label>
                <input type="text" class="form-control" id="title" value="{{h_chat.title}}" readonly>
                <label for="contents">내용</label>
                <textarea class="form-control" readonly>{{h_chat.contents}}</textarea>
                
            </div>
            <div class="mt-3">
                <button type="button" class="btn btn-primary" onclick="location.href='/chat_board/'">돌아가기</button>
                <button type="button" class="btn btn-warning" onclick="location.href='/board/update/{{board.id}}/'">수정하기</button>
                <button type="button" class="btn btn-danger" onclick="location.href='/board/delete/{{board.id}}'">삭제하기</button>
            </div>
        </div>
    </div>
</div>
{% endblock %}