{% extends "base.html" %}
{% load humanize %}
{% block contents %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <div class="card" style="width: 100%;">
                <div class="card-body">
                    <h5 class="card-title">[{{chat.get_h_category_display}}]  {{ chat.h_title }}</h5>
                    <p class="detail-date">작성 일자 : {{chat.h_register_date|date:'Y-m-d H:i'}}</p>
                    <p class="detail-writer">작성자 : {{chat.h_writer|safe}}</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{ chat.h_contents|safe }}</li>
                </ul>
            </div>
        </div>
    </div>
</div>
<div class="container mt-3 text-center">
    <button type="button" class="btn btn-primary" onclick="location.href='/chat_board/'">돌아가기</button>
    <button type="button" class="btn btn-warning" onclick="location.href='/chat_board/{{chat.id}}/update'">수정하기</button>
    <button type="button" class="btn btn-danger" onclick="location.href='/chat_board/{{chat.id}}/delete'">삭제하기</button>
</div>
{% endblock %}