{% extends 'base.html' %}
{% load static %}
{% block header %}
<style>
        .container {
            display: flex;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            width: 80%;
            max-width: 1200px;
        }
        .left-section {
            border-right: 1px solid #ccc;
            padding: 20px;
            width: 30%;
        }
        .right-section {
            padding: 20px;
            width: 70%;
        }
        .section {
            border: 1px solid #ccc;
            border-radius: 5px;
            padding: 10px;
            margin-bottom: 20px;
        }
        .username {
            font-size: 24px;
            font-weight: bold;
            margin-bottom: 10px;
        }
        .section-title {
            font-size: 20px;
            font-weight: bold;
            margin-bottom: 10px;
        }
</style>
{% endblock %}

{% block contents %}
<div class="top">
    <div class="home_top">
        <a href=""><img id='home_img' src="{% static 'images/logo.png' %}" alt="로고 이미지"></a>

        {% if request.session.user %}
        <div class="logout_align">
            <span class="badge bg-dark">
                <a class="top_menu" href="">마이 페이지</a>
            </span>
            <span class="badge bg-dark">
                <a class="top_menu" href="../logout/">로그아웃</a>
            </span>
        </div>
        {% else %}
        <div class="login_align">
            <span class="badge bg-dark">
                <a class="top_menu" href="../login/">로그인</a>
            </span>
            <span class="badge bg-dark">
                <a class="top_menu" href="../register/">회원가입</a>
            </span>
        </div>
        {% endif%}
    </div>
</div>

<div class='flex-container'>
    <div class="list-side">
        <ul class="list-group">
            <li class="list-group-item list-group-item-light d-flex justify-content-between align-items-center">공지사항
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="">필독 공지</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="">이벤트</a></li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">유저모으기
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="">2인 게임</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="">3~4인 게임</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="">5인이상 게임</a></li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">자유게시판
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="/chat_board/">잡담</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="/qna_board/">질문</a></li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">중고 거래
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="">삽니다</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="">팝니다</a></li>
                </ul>
            </li>
            <li class="list-group-item list-group-item-primary d-flex justify-content-between align-items-center">게임 정보
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="">게임 소개</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="">멀티 하는 방법</a></li>
                </ul>
            </li>
        </ul>
    </div>
   
    <div class="row mt-5">
        <div class="col-12 ">
                <div class="col-12">
                    <form action="." method="POST">
                        {% csrf_token %}
                {% for field in form %}
                <div class="form-group">
                    <label for="{{ field.id_for_label }}">{{ field.label }}</label>
                    {% if field.name == "contents" %}
                    <textarea class="form-control" name="{{ field.name }}" placeholder="{{ field.label }}">
                        {{ field.value|default_if_none:'' }}
                    </textarea>
                    {% else %}
                    <input type="{{ field.field.widget.input_type }}" class="form-control" id="{{ field.id_for_label }}"
                    placeholder="{{ field.label }}" name="{{ field.name }}" value="{{ field.value|default_if_none:'' }}"/>
                    {% endif %}
                </div>
                {% if field.errors %}
                <span style="color: red">{{ field.errors }}</span>
                {% endif %}
                {% endfor %}
                <button type="submit" class="btn btn-primary">수정하기</button>
                <button type="button" class="btn btn-primary" onclick="location.href='/board/list/'">돌아가기</button>
                    </form>
                </div>
            <div class="mt-3">
            <button type="button" class="btn btn-primary" onclick="location.href='/mypage/writelist/'">게시글 목록</button>
            <button type="button" class="btn btn-warning" onclick="location.href='/mypage/update/{{board.id}}'">정보 수정하기</button>
            </div>
        </div>
    </div>


    </div>
{% endblock %}