{% extends 'base.html' %}
{% load static %}
{% block contents %}

<div class="top">
    <div class="home_top">
        <img id ='home_img2'src="{% static 'images/logo2.jpg' %}" alt="배너이미지">
        <a href=""><img id = 'home_img' src="{% static 'images/logo.png' %}" alt="로고 이미지"></a>
        
    
    {% if request.session.user %}
    <div class="logout_align">  
        <span class="badge bg-dark">
            <a class = "top_menu" href="mypage/main/">마이 페이지</a>
        </span>
        <span class="badge bg-dark">
            <a class = "top_menu" href="logout/">로그아웃</a>
        </span>
    </div>
    {% else %}
    <div class="login_align">
        <span class="badge bg-dark">
            <a class = "top_menu" href="login/">로그인</a>
        </span>
        <span class="badge bg-dark">
            <a class = "top_menu" href="register/">회원가입</a>
        </span>
        </div>
    {% endif%}
    </div>
</div>
<div class='flex-container'>
    <div class="list-side">
        <ul class="list-group">
            <li class = "list-group-item list-group-item-light d-flex justify-content-between align-items-center">공지사항
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="/notice_board/">필독 공지</a></li>
                    {% comment %} <li><a class="list-group-item list-group-item-action sub-size" href="">이벤트</a></li> {% endcomment %}
                </ul>
            </li>
            <li class = "list-group-item list-group-item-primary d-flex justify-content-between align-items-center">유저모으기
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="/duo_board/">2인 게임</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="/squad_board/">3~4인 게임</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="/multi_board/">5인이상 게임</a></li>
                </ul>
            </li>
            <li class = "list-group-item list-group-item-primary d-flex justify-content-between align-items-center">자유게시판
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="/chat_board/">잡담</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="/qna_board/">질문</a></li>
                </ul>
            </li>
            <li class = "list-group-item list-group-item-primary d-flex justify-content-between align-items-center">중고 거래
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="/buyboard/">삽니다</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="/sellboard/">팝니다</a></li>
                </ul>
            </li>
            <li class = "list-group-item list-group-item-primary d-flex justify-content-between align-items-center">게임 정보
                <ul class="list-group sub-menu">
                    <li><a class="list-group-item list-group-item-action sub-size" href="/info_board/">게임 소개</a></li>
                    <li><a class="list-group-item list-group-item-action sub-size" href="/howto_board/">유저 소식</a></li>
                </ul>
            </li>
        </ul>
    </div>

    {% comment %} ---------------------게시판 별 동일------------------- {% endcomment %}
    <div class="home-deco">
        <div class='home-board'>
            
            <table class="table table-light">
                <thead class="table-light">
                    <tr>
                        <th colspan="4">
                            공지+소식 게시판
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td><strong>카테고리</strong></td>
                        <td><strong>제목</strong></td>
                        <td><strong>조회수</strong></td>
                        <td><strong>일자</strong></td>
                    </tr>
                    {% for item in dta %}
                        {%if item.board == 'c_notice'%}
                            <tr onclick="location.href='/notice_board/{{item.origin}}/'">
                                <td>{{ item.category }}</td>
                                <td>{{ item.title|truncatewords:2|safe }}</td>
                                <td>{{ item.click }}</td>
                                <td>{{ item.date|date:'Y-m-d' }}</td>
                            </tr>
                        {% endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='home-board'>
            <table class="table table-light">
                <thead class="table-light">
                    <tr>
                        <th colspan="4">
                            자유 게시판
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td><strong>카테고리</strong></td>
                        <td><strong>제목</strong></td>
                        <td><strong>조회수</strong></td>
                        <td><strong>일자</strong></td>
                    </tr>
                    {% for item in dtb %}
                        {%if item.board == 'h_chat'%}
                            <tr onclick="location.href='/chat_board/{{item.origin}}/'">
                                <td>{{ item.category }}</td>
                                <td>{{ item.title|truncatewords:2|safe }}</td>
                                <td>{{ item.click }}</td>
                                <td>{{ item.date|date:'Y-m-d' }}</td>
                            </tr>
                        {%elif item.board == 'i_qna'%}
                            <tr onclick="location.href='/qna_board/{{item.origin}}/'">
                                <td>{{ item.category }}</td>
                                <td>{{ item.title|truncatewords:2|safe }}</td>
                                <td>{{ item.click }}</td>
                                <td>{{ item.date|date:'Y-m-d'  }}</td>
                            </tr>
                        {%else%}
                        {% endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='home-board'>
            <table class="table table-light">
                <thead class="table-light">
                    <tr>
                        <th colspan="4">
                            유저모으기 게시판
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td><strong>카테고리</strong></td>
                        <td><strong>제목</strong></td>
                        <td><strong>조회수</strong></td>
                        <td><strong>일자</strong></td>
                    </tr>
                    {% for item in dtc %}
                        {%if item.board == 'e_duo'%}
                            <tr onclick="location.href='/duo_board/{{item.origin}}/'">
                                <td>{{ item.category }}</td>
                                <td>{{ item.title|truncatewords:2|safe }}</td>
                                <td>{{ item.click }}</td>
                                <td>{{ item.date|date:'Y-m-d' }}</td>
                            </tr>
                        {%elif item.board == 'f_squad'%}
                            <tr onclick="location.href='/squad_board/{{item.origin}}/'">
                                <td>{{ item.category }}</td>
                                <td>{{ item.title|truncatewords:2|safe }}</td>
                                <td>{{ item.click }}</td>
                                <td>{{ item.date|date:'Y-m-d' }}</td>
                            </tr>
                        {%elif item.board == 'g_multi'%}
                            <tr onclick="location.href='/multi_board/{{item.origin}}/'">
                                <td>{{ item.category }}</td>
                                <td>{{ item.title|truncatewords:2|safe }}</td>
                                <td>{{ item.click }}</td>
                                <td>{{ item.date|date:'Y-m-d' }}</td>
                            </tr>
                        {%else%}
                        {% endif%}
                    {% endfor %}
                </tbody>
            </table>
        </div>
        <div class='home-board'>
            <table class="table table-light">
                <thead class="table-light">
                    <tr>
                        <th colspan="4">
                            상품 판매 게시판
                        </th>
                    </tr>
                </thead>
                
                <tbody>
                    <tr>
                        <td><strong>카테고리</strong></td>
                        <td><strong>제목</strong></td>
                        <td><strong>조회수</strong></td>
                        <td><strong>일자</strong></td>
                    </tr>
                    {% for item in dtd %}
                        {%if item.board == 'j_buy'%}
                            <tr onclick="location.href='/product/{{item.origin}}/'">
                                <td>{{ item.category }}</td>
                                <td>{{ item.title|truncatewords:2|safe }}</td>
                                <td>{{ item.click }}</td>
                                <td>{{ item.date|date:'Y-m-d' }}</td>
                            </tr>
                        {%elif item.board == 'k_sell'%}
                            <tr onclick="location.href='/buyproduct/{{item.origin}}/'">
                                <td>{{ item.category }}</td>
                                <td>{{ item.title|truncatewords:2|safe }}</td>
                                <td>{{ item.click }}</td>
                                <td>{{ item.date|date:'Y-m-d'  }}</td>
                            </tr>
                        {%else%}
                        {% endif%}
                    {%endfor%}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock %}