{% extends 'base.html' %}
{% load humanize %}
{% block contents %}
{% comment %} <script>
    function board_detail(id){
        $.ajax({
            url:"/api/board/" + id,
            success : function(result){
                $("#board-"+id).popover({
                    html:true,
                    content:result.name + "<br>" + result.price
                }).popover('show');
            }//success
        });//ajax
    };//board_detail

    //사용자가 상품 요소에서 벗어났을 때 popover를 숨기기
    function board_leave(id){
        $("#board-"+id).popover("hide");
    }
    //문서가 완전히 로드된 후에 실행되는 이벤트 핸들러
    $(document).ready(function(){});
</script> {% endcomment %}
<div class="row mt-5">
    <div class="col-12">
        <table class="table table-light">
            <thead class="thead-light">
                <tr>
                <!--scope="col" : 헤더 셀이 어떤 테이블 셀을 명시함 -->
                <th scope="col">번호</th>
                <th scope="col">카테고리</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">등록날짜</th>
                </tr>
            </thead>
        <tbody class="text-dark">
        {% for board in c_board_list %}
            <tr>
                <th scope="row">{{ board.id }}</th>
                <th>{{ board.category}} </th>
                <th><a id="board-{{board.id}}" href="/notice_board/detail/{{ board.id }}/">{{ board.title }}</a></th>
                <th>{{ board.writer}} </th>
                <th>{{ board.register_date|date:'Y-m-d H:i'}}</th>
            </tr>
        {% endfor %}
        </tbody>
        </table>
    </div>
</div>
{% endblock %}